/*
0 - 600px:     Phone
600 - 900px:   tabletPortrait portrait
900 - 1200px:  tabletPortrait landscape
[1200 - 1800]: is where our normal styles apply
1800px + :     Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }
